<div class="container" [ngbCollapse]="activeItem != 'GARANTIE'">
<hr class="featurette-divider">
<h1 class="text-center">GARANTIE</h1>
<hr class="featurette-divider">
<div class="row">
    <!--Section: Contact v.2-->
<section class="mb-4">
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Enregistrez votre produit</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Nous sommes honorés que vous ayez choisi de faire confiance à notre produit et à notre entreprise. Pour protéger votre investissement, nous demandons à tous nos clients de remplir le formulaire de garantie de 2 année ci-dessous. Si vous devez remplacer votre produit en raison de défauts, cet enregistrement contribuera à accélérer le processus d’échange et / ou de retour de produits.</p>
        <!--Grid column-->
        <div class="col-md-12 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form">
                <div class="row">
                  <app-form-input-text id="name" label="Nom" class="col-md-6"></app-form-input-text>
                  <app-form-input-text id="email" label="E-mail" class="col-md-6"></app-form-input-text>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
							              <label for="subject" class="">N° de commande</label>
                            <input type="text" id="subject" name="subject" class="form-control">
                        </div>
                    </div>
                </div>
                <!--Grid row-->
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-12">
                        <div class="md-form">
							                   <label for="message">Produit commandé</label>
                    							<select id="message" name="message" class="form-control md-textarea">
                    							  <option value="Clignotant pour velo A">Clignotant pour vélo A</option>
                    							  <option value="Clignotant pour velo B">Clignotant pour vélo B</option>
                    							  <option value="Lampe pour velo A">Lampe pour Vélo A</option>
                    							  <option value="Lampe pour vélo B">Lampe pour Vélo B</option>
                    							</select>
                        </div>
                    </div>
                </div>
                <!--Grid row-->
            </form>
            <div class="text-center text-md-left">
               <a class="btn btn-primary">Envoyer</a>
            </div>
            <div class="status" id="status"></div>
        </div>
        <!--Grid column-->
</section>
    <!--Section: Contact v.2-->
</div>
<hr class="featurette-divider">
</div>
